<div class="container">
    <div class="card col-md-6 offset-3 mt-2">
      <div class="card-header">New Current Account</div>
      <div class="card-body">
        <form [formGroup]="newAccountFormGroup" (ngSubmit)="handleSaveAccount()">
          <div class="mb-3">
            <label class="form-label">initial balance:</label>
            <input type="text" formControlName="balance" class="form-control">
            <span class="text-danger"
                  *ngIf="newAccountFormGroup.controls['balance'].touched
                  && newAccountFormGroup.controls['balance'].errors
                  && newAccountFormGroup.controls['balance'].errors!['required']">
              Balance is Required
            </span>
          </div>

          <div class="mb-3">
            <label class="form-label">over draft:</label>
            <input type="text" formControlName="overDraft" class="form-control">
            <span class="text-danger"
                  *ngIf="newAccountFormGroup.controls['overDraft'].touched
                  && newAccountFormGroup.controls['overDraft'].errors
                  && newAccountFormGroup.controls['overDraft'].errors!['required']">
              Over draft is Required
            </span>
          </div>

          
          <div class="mb-3">
            <label class="form-label">customer:</label>
            <select id="customerInput" formControlName="customerInput" class="form-control">
                <option >select a value</option>
                <option *ngFor="let c of customers" value="1">{{c.name}}</option>
            </select>
          </div>

          <div *ngFor="let c of customers">{{c.id}}</div>


          <button [disabled]="!newAccountFormGroup.valid" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>